.mentorImg {
    width: 150px;
    margin-top: 5px;
}

.mentorArticle {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid blue;
    padding: 5px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mentorCard {
    color: grey;
    background-color: lightgoldenrodyellow;
}

.mentorTextBox {


}
