.mentorImg {
    width: 150px;
    margin-top: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.mentorArticle {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid blue;
    padding: 5px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.mentorCard {
    color: grey;
    background-color: lightgoldenrodyellow;
}

.error-message {
    color: red;
}

.inputBox {
    margin: auto;
}

.card {
    padding: 15px;
    background-color: lightpink;
    margin-bottom: 20px;
    border-width: 3px;
    border-color: white;
}

body {
    padding: 10px;
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-family:'Lucida Sans';

}

.introText {
    font-size: 14px;
    margin: 20px;
    font-family:'Lucida Sans';
}

.submitBtn {
    margin: auto;
    text-align: center;
    width: 250px;
    font-size: 28px;
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    background-color: lightblue;
    color: darkblue;
    
}